@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* html{overflow:hidden;} */
*{padding : 0px; margin : 0px;}
a{text-decoration: none; color: #333;}
ol, li, ul{list-style: none;}
h2{
  font-weight: normal;
}
body{
  font-family:'noto sans', sans-serif;
}
:root {
  --m-color01 : #361B75;
  --m-color02 : #fff;
  --m-color03 : #d9d9d9;
  --m-color04 : #090909;
  --m-color05 : #C883C6;
}